* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 255, 127);
}

.container {
  background-color: rgb(142, 224, 224);
  width: 50%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 20px;
}

button {
  margin: 20px 5px 20px 5px;
  padding: 3px;
}
